/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

body {
	@apply bg-background text-foreground font-sans;
	font-family: "Quicksand", sans-serif;
}

a,
abbr,
acronym,
address,
article,
aside,
b,
big,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
ins,
kbd,
label,
legend,
li,
main,
mark,
nav,
object,
option,
p,
pre,
q,
s,
samp,
section,
small,
strong,
sub,
summary,
sup,
table,
td,
textarea,
th,
time,
tr,
tt,
u,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif !important;
}

.montana-font,
.montana-font :is(h1, h2, h3, h4, h5, h6) {
	font-family: "Montana", sans-serif !important;
}

.banner__title,
.center {
	@apply !text-center;
}

.banner__txt {
	text-shadow: 2px 3px 8px #20242e;
	font-family: "Quicksand", sans-serif !important;
	@apply !my-2 !text-center !leading-10;
}

#slider-1-slide-1-layer-13 > img {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
	margin-top: 0em;
	margin-bottom: 0em;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	width: 100%;
}

.rar-form {
	@apply grid grid-cols-2 gap-x-4;
}

.rar-form p {
	margin: 5px 0;
}

.rar-form label {
	@apply inline-block w-full rounded-md bg-[#E6E7F0] pt-4 pl-4 text-sm text-[#161D44];
}

.rar-form label > span:first-child {
	@apply text-red-500;
}

.rar-form :is(input, textarea, select) {
	@apply rounded-md border-none bg-[#E6E7F0] px-0 outline-none focus:ring-transparent;
}

.col {
	@apply rounded-md bg-[#E6E7F0];
}

.col__1 {
	@apply col-span-1;
}
.col__2 {
	@apply col-span-2;
}

.center__txt {
	@apply text-center;
}

.wpcf7-spinner {
	@apply absolute;
}

.wpcf7-form-control[type="submit"] {
	@apply inline-block cursor-pointer rounded-md bg-[#00ADCC] px-8 py-3 text-sm font-semibold text-white hover:bg-indigo-500;
}

.full__w__right {
	@apply lg:ml-auto lg:max-w-[650px];
}

.full__w__left {
	@apply lg:mr-auto lg:max-w-[650px];
}

.cstm__gap .elementor-container {
	@apply gap-16;
}

.swiper-slide {
	@apply my-10;
}

.card {
	@apply p-8;
	background-color: #e6e7f0;
	max-width: 430px;
	aspect-ratio: 1 / 2;
}

.card a {
	@apply block;
}

.card .image-box img {
	border-radius: 24px;
	@apply h-full w-full;
}

.swiper-pagination-bullet-active {
	@apply !bg-[#F7D301];
}
